.header {
    margin: auto;
    padding-bottom: 3em;
    text-align: center;
}

.header-img {
    width: 100%;
}

.header-container {
    flex-wrap: wrap;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    text-align: center;
}

.news-container {
    margin: auto;
    padding-bottom: 1.5em;
}

#services {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    padding-bottom: 2.5em;
    padding-top: 2.5em;
}

#team {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    margin: auto;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

#news {
    width: 65%;
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 2.5em;
    padding-top: 2.5em;
    flex-wrap: nowrap;
    align-items: baseline;
}

ul#menu li {
    display: inline;
    padding: 1em;
    font-family: 'Alatsi', sans-serif;
    font-size: 1.5;
    text-transform: uppercase;
    flex-direction: row;
}

h1 {
    text-align: center;
    font-size: 4em;
    font-family: 'Alatsi', sans-serif;
    color: #0070ff;
}

h2 {
    font-family: 'Arsenal', sans-serif;
    font-size: 3em;
    text-align: center;
    color: #ffffff;
}

h3 {
    font-family: 'Alatsi', sans-serif;
    font-size: 2em;
    text-align: center;
}

p {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Arsenal', sans-serif;
    color: #5f5f5f;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

a {
    font-family: 'Alatsi', sans-serif;
    font-size: 1.3em;
    color: #0070ff;
}

#Titles {
    background-color: #1a56f3;
}

.contacto {
    text-align: center;
    font-size: 1.2em;
    font-family: 'Alatsi', sans-serif;
    color: #657e93;
}

.nota {
    text-align: center;
    font-size: 1.4em;
    font-family: 'Alatsi', sans-serif;
    color: #ffffff;
}

.nota-container {
    background-color: #a5a5a5;
    padding: 1em;
}

.img-news {
    max-width: 95%;
    max-height: 25em;
}

.profile-pics {
    max-width: 100%;
    max-height: 15em;
}

.link-git {
    text-align: center;
    font-size: 1.8em;
    font-family: 'Arsenal', sans-serif;
}